UnityProject/Library/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/Assets/Test.meta
UnityProject/Assets/Test/
UnityProject/.vscode/
UnityProject/Assembly-CSharp-Editor.csproj
UnityProject/Assembly-CSharp.csproj

UnityProject/obj/
